.main-content {
  display: flex;
  flex-wrap: wrap;
}

.single-note {
  width: 250px;
  height: 250px;
  margin: 20px;


  &:nth-child(3n) {
    transform:rotate(4deg);
  }

  &:nth-child(2n) {
    transform:rotate(-3deg);
  }
  &:nth-child(5n) {
    transform:rotate(-13deg);
  }
}

.buttons-bar {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
