.main-content {
  display: flex;
  flex-wrap: wrap;
}

app-single-note {
  margin: 30px;
  width: 300px;
  height: 300px;
}

.buttons-bar {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
