:host {
  min-width: 100px;
  min-height: 100px;

  &:not(.single-note-view) {
    cursor: pointer;
  }
}

.main-view {
  width: 100%;
  height: 100%;
  background: rgb(250, 250, 163);
}

.main-view::after {
  content: "";
  position: relative;
  display: block;
  width: 67%;
  height: 20%;
  bottom: 8%;
  z-index: -1;
}

.main-view1::after {
  transform: skew(8deg, 10deg);
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.4);
  left: 20%;
}

.main-view2::after {
  transform: skew(-10deg, -8deg);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.4);
  left: 12%;
}

.free-text {
  font-family: "Rock Salt", cursive;
  margin-left: 20%;
  margin-top: 15%;
  width: 60%;
  overflow: hidden;
  -ms-overflow-style: none;

  resize: none;
  background: none;
  border: none;
  outline: 0;
}

.free-text {
  cursor: pointer;
  font-size: xx-small;
  white-space: pre-wrap;
  height: 200px;
}
