:host {
  min-width: 100px;
  min-height: 100px;

  background-image: url("/assets/img/sticky-note.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:not(.single-note-view) {
    cursor: pointer;
  }
}

textarea {
  font-family: "Rock Salt", cursive;
  margin-left: 20%;
  margin-top: 15%;
  width: 60%;

  overflow: hidden;
  -ms-overflow-style: none;

  resize: none;
  background: none;
  border: none;
  outline: 0;

  &:not(.single-note-view) {
    cursor: pointer;
    font-size: xx-small;
  }
}
