:host {
  min-width: 100px;
  min-height: 100px;

  background-image: url("/assets/img/sticky-note.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:not(.single-note-view) {
    cursor: pointer;
  }
}

textarea,
.free-text {
  font-family: "Rock Salt", cursive;
  margin-left: 20%;
  margin-top: 15%;
  width: 60%;
  overflow: hidden;
  -ms-overflow-style: none;

  resize: none;
  background: none;
  border: none;
  outline: 0;
}

textarea {
  height: 210px;

  @media (min-width: 500px) {
    height: 280px;
  }

  @media (min-width: 700px) {
    height: 380px;
  }
}

.free-text {
  cursor: pointer;
  font-size: xx-small;
  white-space: pre-wrap;
  height: 200px;
}
